@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .labelBox {
  width: 100%;
  padding: 0 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header p {
  font-size: 0.9rem;
  text-transform: uppercase;
}

header .gridBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sliderContainer {
  width: 100px;
}

header .sliderContainer input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 28px;
  padding: 0 0.3rem;
  border-radius: 14px;
  outline: none;
  cursor: pointer;
}

header .sliderContainer input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 9px;
}

header .sliderContainer input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 9px;
}

#display {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: right;
}

#display .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#display h1 {
  font-size: 2rem;
}

#pad {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
}

#pad .gridBox {
  width: 100%;
  height: 21rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 30rem) {
  #pad .gridBox {
    height: 23rem;
  }
}

@media screen and (min-width: 35rem) {
  #pad .gridBox {
    height: 25rem;
    gap: 1.5rem;
  }
}

#pad .btn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 35rem) {
  #pad .btn {
    font-size: 2rem;
  }
}

#pad .btn:hover, #pad .btn.focus {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#pad .btn:active {
  margin-top: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#pad .btn_funct {
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 35rem) {
  #pad .btn_funct {
    font-size: 1.3rem;
  }
}

#pad .btn_calc {
  font-size: 1rem;
}

@media screen and (min-width: 35rem) {
  #pad .btn_calc {
    font-size: 1.3rem;
  }
}

#pad #btn_reset,
#pad #btn_calc {
  grid-column: span 2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
p,
button {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.bgHelper {
  width: 100%;
  max-width: 35rem;
  padding: 0 2rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body.theme1 {
  background-color: #3a4764;
}

body.theme1 header h1 {
  color: white;
}

body.theme1 header p {
  color: white;
}

body.theme1 header input {
  background-color: #232c43;
}

body.theme1 header input::-webkit-slider-thumb {
  background-color: #d03f2f;
}

body.theme1 header input::-moz-range-thumb {
  background-color: #d03f2f;
}

body.theme1 #display {
  background-color: #182034;
}

body.theme1 #display h1 {
  color: white;
}

body.theme1 #pad {
  background-color: #232c43;
}

body.theme1 .btn_mainPad {
  background-color: #eae3dc;
  -webkit-box-shadow: 0px 4px 0px 0px #b4a597;
          box-shadow: 0px 4px 0px 0px #b4a597;
  color: #444b5a;
}

body.theme1 .btn_funct {
  background-color: #637097;
  -webkit-box-shadow: 0px 4px 0px 0px #404e72;
          box-shadow: 0px 4px 0px 0px #404e72;
  color: white;
}

body.theme1 .btn_calc {
  background-color: #d03f2f;
  -webkit-box-shadow: 0px 4px 0px 0px #93261a;
          box-shadow: 0px 4px 0px 0px #93261a;
  color: white;
}

body.theme2 {
  background-color: #e6e6e6;
}

body.theme2 header h1 {
  color: #35352c;
}

body.theme2 header p {
  color: #35352c;
}

body.theme2 header input {
  background-color: #d1cccc;
}

body.theme2 header input::-webkit-slider-thumb {
  background-color: #ca5502;
}

body.theme2 header input::-moz-range-thumb {
  background-color: #ca5502;
}

body.theme2 #display {
  background-color: #ededed;
}

body.theme2 #display h1 {
  color: #35352c;
}

body.theme2 #pad {
  background-color: #d1cccc;
}

body.theme2 .btn_mainPad {
  background-color: #e5e4e1;
  -webkit-box-shadow: 0px 4px 0px 0px #a69d91;
          box-shadow: 0px 4px 0px 0px #a69d91;
  color: #35352c;
}

body.theme2 .btn_funct {
  background-color: #377f86;
  -webkit-box-shadow: 0px 4px 0px 0px #1b5f65;
          box-shadow: 0px 4px 0px 0px #1b5f65;
  color: white;
}

body.theme2 .btn_calc {
  background-color: #ca5502;
  -webkit-box-shadow: 0px 4px 0px 0px #893901;
          box-shadow: 0px 4px 0px 0px #893901;
  color: white;
}

body.theme3 {
  background-color: #160628;
}

body.theme3 header h1 {
  color: #ffe53d;
}

body.theme3 header p {
  color: #ffe53d;
}

body.theme3 header input {
  background-color: #1d0934;
}

body.theme3 header input::-webkit-slider-thumb {
  background-color: #00e0d1;
}

body.theme3 header input::-moz-range-thumb {
  background-color: #00e0d1;
}

body.theme3 #display {
  background-color: #1d0934;
}

body.theme3 #display h1 {
  color: #ffe53d;
}

body.theme3 #pad {
  background-color: #1d0934;
}

body.theme3 .btn_mainPad {
  background-color: #341c4f;
  -webkit-box-shadow: 0px 4px 0px 0px #871c9c;
          box-shadow: 0px 4px 0px 0px #871c9c;
  color: #ffe53d;
}

body.theme3 .btn_funct {
  background-color: #58077d;
  -webkit-box-shadow: 0px 4px 0px 0px #bc15f4;
          box-shadow: 0px 4px 0px 0px #bc15f4;
  color: white;
}

body.theme3 .btn_calc {
  background-color: #00e0d1;
  -webkit-box-shadow: 0px 4px 0px 0px #6cf9f2;
          box-shadow: 0px 4px 0px 0px #6cf9f2;
  color: #1b2428;
}
/*# sourceMappingURL=main.css.map */