#display{
margin-top: 2rem;
    background-color: $screenBg;
    padding: 1.5rem;
    text-align: right;
    border-radius: 10px;
    
    h1{
        color: $textColorMain;
        font-size: 2rem;

    }

}