#pad {
  margin-top: 2rem;

  padding: 1.5rem;
  border-radius: 10px;

  .gridBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 333px;
  }

  .btn {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;

    &:hover, &.focus{
      cursor: pointer;
transform: scale(1.05);    }

    &:active{
      box-shadow: none;
      margin-top: 4px;
    }
    
  }


  .btn_funct {
 
    font-size: 1rem;
    text-transform: uppercase;
  }

  .btn_calc {

    font-size: 1rem;
  }

  #btn_reset,
  #btn_calc {
    grid-column: span 2;
  }
}
