// Theme 1

//Backgrounds

$veryDarkDesaturatedBlueMain: hsl(222, 26%, 31%); // (mainBackground)
$veryDarkDesaturatedBlue: hsl(
  223,
  31%,
  20%
); //(toggleBackground, keypadBackground)
$veryDarkDesaturatedBlueScreen: hsl(224, 36%, 15%); //(screenBackground)

// Keys

$desaturatedDarkBlueBG: hsl(225, 21%, 49%); //(keyBackground)
$desaturatedDarkBlue: hsl(224, 28%, 35%); //(key shadow)

$Red: hsl(6, 63%, 50%); //(keyBackground, toggle)
$darkRed: hsl(6, 70%, 34%); //(key shadow)

$lightGrayishOrange: hsl(30, 25%, 89%); //(keyBackground)
$grayishOrange: hsl(28, 16%, 65%); //(key shadow)

// Text

$veryDarkGrayishBlue: hsl(221, 14%, 31%); //
$white: hsl(0, 0, 100%); //

// Theme 2

//Backgrounds

$lightGray: hsl(0, 0%, 90%); // (mainBackground)
$grayishRed: hsl(0, 5%, 81%); //(toggleBackground, keypadBackground)
$veryLightGray: hsl(0, 0%, 93%); // (screenBackground)

// Keys

$darkModerateCyan: hsl(185, 42%, 37%); //(keyBackground)
$veryDarkCyan: hsl(185, 58%, 25%); //(key shadow)

$orange: hsl(25, 98%, 40%); //(keyBackground, toggle)
$darkOrange: hsl(25, 99%, 27%); //(key shadow)

$lightGrayishYellow: hsl(45, 7%, 89%); //(keyBackground)
$darkGrayishOrange: hsl(35, 11%, 61%); // (key shadow)

// Text

$veryDarkGrayishYellow: hsl(60, 10%, 19%); //
$white: hsl(0, 0, 100%); //(text)

// Theme 3

//Backgrounds

$veryDarkVioletMain: hsl(268, 75%, 9%); // (mainBackground)
$veryDarkViolet: hsl(
  268,
  71%,
  12%
); //(toggleBackground, keypadBackground, screenBackground)

// Keys

$darkViolet: hsl(281, 89%, 26%); //(keyBackground)
$vividMagenta: hsl(285, 91%, 52%); //(key shadow)

$pureCyan: hsl(176, 100%, 44%); //(keyBackground, toggle
$softCyan: hsl(177, 92%, 70%); //(key shadow)

$veryDarkViolet: hsl(268, 47%, 21%); //(keyBackground)
$darkMagenta: hsl(290, 70%, 36%); //(key shadow)

// Text

$lightYellow: hsl(52, 100%, 62%); //
$veryDarkBlue: hsl(198, 20%, 13%); //
