    $mainBg: $veryDarkDesaturatedBlueMain;
    $toggleBg: $veryDarkDesaturatedBlue;
    $screenBg: $veryDarkDesaturatedBlueScreen;

    $keyFunctBg: $desaturatedDarkBlueBG;
    $keyFunctShadow: $desaturatedDarkBlue;

    $keyCalcBg: $Red;
    $keyCalcShadow: $darkRed;

    $keyPadBg: $lightGrayishOrange;
    $keyPadShadow: $grayishOrange;

    $textColorPad: $veryDarkGrayishBlue;
    $textColorMain: $white;

//backgrounds
@mixin toggleColorTheme($theme) {
  @if ($theme == "1") {
    $mainBg: $veryDarkDesaturatedBlueMain;
    $toggleBg: $veryDarkDesaturatedBlue;
    $screenBg: $veryDarkDesaturatedBlueScreen;

    $keyFunctBg: $desaturatedDarkBlueBG;
    $keyFunctShadow: $desaturatedDarkBlue;

    $keyCalcBg: $Red;
    $keyCalcShadow: $darkRed;

    $keyPadBg: $lightGrayishOrange;
    $keyPadShadow: $grayishOrange;

    $textColorPad: $veryDarkGrayishBlue;
    $textColorMain: $white;
  }

  @if ($theme == "2") {
    $mainBg: $lightGray;
    $toggleBg: $grayishRed;
    $screenBg: $veryLightGray;

    $keyFunctBg: $darkModerateCyan;
    $keyFunctShadow: $veryDarkCyan;

    $keyCalcBg: $orange;
    $keyCalcShadow: $darkOrange;

    $keyPadBg: $lightGrayishYellow;
    $keyPadShadow: $darkGrayishOrange;

    $textColorPad: $veryDarkGrayishYellow;
    $textColorMain: $white;
  }

  @if ($theme == "3") {
    $mainBg: $veryDarkVioletMain;
    $toggleBg: $veryDarkViolet;
    $screenBg: $veryDarkViolet;

    $keyFunctBg: $darkViolet;
    $keyFunctShadow: $vividMagenta;

    $keyCalcBg: $pureCyan;
    $keyCalcShadow: $softCyan;

    $keyPadBg: $veryDarkViolet;
    $keyPadShadow: $darkMagenta;

    $textColorPad: $lightYellow;
    $textColorMain: $veryDarkBlue;
  }
}
